	#menum{
	 
    margin-left: 30%;
    margin-right: 30%;

	}
	#logo{
	width:30%;
	height:30%;
	}
	body{
    background-color:#eee9e9;

 }
  #mirasimiz{
     width: 35%;
     height: 20%;
     margin-left: 10%;
	 color:white;
     
 }
 #camim{
 width: 25%;
 height:35%;
 }
