#menum{
	 
    margin-left: 30%;
    margin-right: 30%;

	}
	#logo{
	width:30%;
	height:30%;
	}
body{
    background-color:#eee9e9;

 }
	p{
	color:white;}
	
	#ozgecmisbasligi{
	color:#f4a460;
	width:20%;
	text-decoration:underline;
	font-family:"courier  new";}
	#ozgecmisiceriki{
	width:50%;
	font-weight: bold;
	}
	
